/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.bs-docs-nav {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0;
}
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #39507F;
}
.bs-docs-nav .navbar-nav>li>a {
  font-weight: 500;
  color: #39507F;
}
.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
  font-weight: 500;
  color: #39507F;
}
.bs-docs-header, .bs-docs-masthead {
  position: relative;
  padding: 30px 0;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #39507F;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#39507F),to(#39507F));
  background-image: -webkit-linear-gradient(top,#39507F 0,#39507F 100%);
  background-image: -o-linear-gradient(top,#39507F 0,#39507F 100%);
  background-image: linear-gradient(to bottom,#39507F 0,#39507F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#39507F', endColorstr='#39507F', GradientType=0);
  background-repeat: repeat-x;
}
#user-photo {
	width: 128px;
	height: 128px;
	float: left;
}
.profile {
	padding-left: 30px;
}
.profile p {
	text-align: left;
	margin-left: 10px;
}
#name {
	font-size: 25px;
}
.container {
	width: 940px;
}
#list {
    list-style-type: none;
    white-space: nowrap;
    overflow: auto;
    height: 390px;
}
.thumb-content {
    margin-left: 6px;
    clear: both;
    height: 90px;
}
.thumbnail {
    cursor: pointer;
    margin-bottom: 4px;
}
.thumb-img {
    height: 90px;
    float: left;
    margin-bottom: 8px;
    width: 160px;
}
.navbar .nav.pull-right {
    float: right;
    margin-right: 98px; /*set margin this way in your custom styesheet*/
}
#profile img {
    height: 100px;
    width: 100px;
    float: left;
}
#recomendation {
    clear: both;
}
#profile-info{
    margin-left: 80px;
}
#name-info{
    margin-bottom: 10px;
    padding-top: 8px;
    font-size: 30px;
}
.bs-docs-featurette {
	margin-top: 30px;
}
.lead {
	margin-bottom: 5px;
}

.bs-docs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.bs-docs-footer-links {
  padding-left: 0;
  margin-top: 20px;
}
.bs-docs-footer-links li:first-child {
  padding-left: 0;
}
.bs-docs-footer-links li {
  list-style-type: none;
}
input[type="submit"], input[type="text"] {
	color: #777;
}
#recommend {
	margin-top: 10px;
}

.bs-docs-footer {
	background-color: #39507F;
	color: #FFF;
}

.bs-docs-footer a {
	color: #428bca;
}
